# Node modules
node_modules/

# Environment variables file
.env

# Output files
*.log

# Temporary files
tmp/
temp/
.DS_Store

# Configuration files
*.json
*.ts

# Build output
dist/
build/

# Ignore any sensitive data
account.js
rpc.js
